@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 auto;
    max-width: 1700px !important;
}

.none {
    display: none;
}

header {
    background-image: url("../../public/assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img {
    background-image: url("../../public/assets/partner_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

form label {
    font-size: medium;
    color: #847d7d;
}

form textarea {
    border-color: #e3e3e3;
    border-radius: 6px;
    resize: none;
}

form #name,
form #email,
form #phone,
form #company,
form #subject {
    border-color: #e3e3e3;
    height: 35px;
    border-radius: 6px;
}

.active {
    font-size: 12px;
    font-weight: bold;
}

.w-85 {
    width: 85%;
}

.w-95 {
    width: 95%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.border-1 {
    border: 1px solid #ddd;
}

.border-1:hover {
    border: 1px solid #36c805;
    transition: 0.5s ease;
}

.active_portfolio_link {
    background-color: #36c805;
    color: white;
}

@media screen and (max-width:425px) {
    footer p {
        font-size: 15px;
    }

    .arrowUp .w-10 {
        width: 1.5rem;
    }
}