@media screen and (max-width:768px)
{
    .services.px-32
    {
        padding-left: 25px;
        padding-right: 25px;
    }

    .services .left ,.services .right
    {
        width: 100%;
    }

    .service
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
